{% extends 'base.html' %}


{% block css %}
{% load staticfiles %}
<script src="/static/bootstrap-fileinput/js/fileinput.js" xmlns="http://www.w3.org/1999/html"></script>
        <script src="/static/bootstrap-fileinput/js/fileinput_locale_zh.js"></script>
        <script src="/static/bootstrap-fileinput/js/plugins/canvas-to-blob.js"></script>
        <link href="/static/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet">
        <script src="/static/bootstrap-fileinput/js/fileinput.js"></script>
        <script src="/static/bootstrap-fileinput/js/fileinput_locale_zh.js"></script>
        <script src="/static/bootstrap-fileinput/js/plugins/canvas-to-blob.js"></script>
        <link href="/static/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet">

<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
{% endblock %}
{% block sidebar %}
<ul class="nav nav-sidebar">
<li ><a href="/"><a href="/">Overview <span class="sr-only">(current)</span></a></li>
<li class="active"><a href="{% url 'salt-api' %}">SaltStack</a></li>
</ul>
{% endblock %}
{% block content-panel %}
<h1 class="page-header">SaltStack</h1>

<div class="row placeholders">

        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" ><a href="{% url 'salt-api' %}">minion 认证管理</a></li>
          <li role="presentation"><a href="#">管理minion服务</a></li>
          <li role="presentation"><a href="{% url 'salt_many_cmd'%}">批量执行命令</a></li>
           <li role="presentation"><a href="{% url 'salt_deploy' %}">自动化部署应用</a></li>
          <li role="presentation" class="active"><a href="{% url 'salt_web_deploy' %}">网站发布</a></li>
           <li role="presentation"><a href="{% url 'salt_project_new' %}">新增发布项目</a></li>
        </ul>
    </div>
<div class="container-fluid">
    <div class="row">
          <div class="alert alert-info" role="alert" align="center" id="success_info" style="display:none"></div>
            <div class="page-header">
              <h3>项目列表</h3>
            </div>
         {% for Project in Project_name_list %}
         <div class="col-xs-6 col-md-2">
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group">
                <a href="/saltstack/project_web_deploy/?id={{ Project.id }}"> <button type="button" class="btn btn-default">{{ Project.project_name }}</button></a>
                </div>
            </div>
          </div>
         {% endfor %}

        <br>
        <hr>
        <div class="col-md-4">
          <h3> <span class="label label-info">{{ project.project_name }}</span></h3>
            <br>
         </div>
         <div class="col-md-13">
                    <table class="table table-bordered">
                        <thead>
                            <th class="col-sm-1">项目名字</th>
                            <th class="col-sm-1">项目坏境</th>
                            <th class="col-sm-1">项目地址</th>
                            <th class="col-sm-1">代码坏境</th>
                            <th class="col-sm-1">项目语言</th>
                            <th class="col-sm-1">发布主机存放代码目录</th>
                            <th class="col-sm-1">目标主机Webroot</th>
                            <th class="col-sm-1">目标主机版本库</th>
                            <th class="col-sm-1">目标主机</th>
                            <th class="col-sm-1">创建时间</th>
                            <th class="col-sm-1">操作</th>
                        </thead>
                     <tbody>
                            <td class=col-sm-1">{{ project.project_name }}</td>
                            <td class=col-sm-1">{{ project.project_env }}</td>
                            <td class=col-sm-1">{{ project.project_addr }}</td>
                            <td class=col-sm-1">{{ project.code_env }}</td>
                             <td class=col-sm-1">{{ project.project_language }}</td>
                             <td class=col-sm-1">{{ project.deploy_dir }}</td>
                             <td class=col-sm-1">{{ project.target_webroot }}</td>
                             <td class=col-sm-1">{{ project.target_releases }}</td>
                             <td class=col-sm-1">{{ project.target_server }}</td>
                             <td class=col-sm-1">{{ project.create_date }}</td>
                             <td class=col-sm-1">
                                 <li style="list-style-type:none;" ><a href="{% url 'project_web_deploy_edit'%}?id={{project.id}}">编辑</a></li>
                                 <li style="list-style-type:none;"><a href="#">删除</a></li>
                             </td>
                     </tbody>
                     </table>
         </div>
         <hr>
         <br>
      <div class="col-md-13">
               <form class="form-horizontal" method="post" action="" enctype="multipart/form-data"> {% csrf_token %}
                        <table class="table table-bordered">
                            <thead>
                                <th class="col-sm-1">开发者</th>
                                <th class="col-sm-1">项目名字</th>
                                <th class="col-sm-1">项目备注</th>
                                <th class="col-sm-1">代码分支</th>
                                <th class="col-sm-1">版本号</th>
                                <th class="col-sm-1">操作</th>
                            </thead>
                         <tbody>
                                <td class=col-sm-1">{{ request.user }}</td>
                                <td class=col-sm-1">{{ project.project_name }}</td>
                                <td class=col-sm-1">
                                     <input type="text" class="form-control" name="project_commit" >
                                </td>
                                <td class=col-sm-1">
                                    <select  id="code_branch" name="code_branch">
                                        {% for i in code_branch%}
                                              <option value="{{ i }}" name="code_branch" >{{ i }}</option>
                                        {% endfor %}
                                     </select>
                                </td>
                                 <td class=col-sm-1">
                                     <select  id="code_version" name="code_version">
                                        {% for i in code_version%}
                                              <option value="{{ i }}" name="code_version" >{{ i }}</option>
                                        {% endfor %}
                                     </select>
                                 </td>
                                 <td class=col-sm-1">
                                     <button type="submit" class="btn btn-info">发布</button>
                                 </td>
                         </tbody>
                         </table>
                </form>
             </div><hr>
      <h3> <span class="label label-info">发布历史</span></h3>
        {% if info %}
        <div class="alert alert-danger" role="alert">
                <p style="text-align: center;">{{ info }}</p>
        </div>
        {% endif %}
      <div class="col-md-13">
                        <table class="table table-bordered">
                            <thead>
                                <th class="col-sm-1">开发者</th>
                                <th class="col-sm-1">项目名字</th>
                                <th class="col-sm-1">项目备注</th>
                                <th class="col-sm-1">代码分支</th>
                                <th class="col-sm-1">版本号</th>
                                <th class="col-sm-1">开始时间</th>
                                <th class="col-sm-1">完成时间</th>
                                <th class="col-sm-1">状态</th>
                                <th class="col-sm-1">操作</th>
                            </thead>
                         <tbody id="get_deploy_result">
                                {% for deploy_result in deploy_results %}
                                 <tr>
                                <td class=col-sm-1">{{ deploy_result.deploy_user }}</td>
                                <td class=col-sm-1">{{ deploy_result.project_name }}</td>
                                <td class=col-sm-1">{{ deploy_result.project_commit }}</td>
                                 <td class=col-sm-1">{{ deploy_result.code_branch }}</td>
                                 <td class=col-sm-1">{{ deploy_result.code_version }}</td>
                                 <td class=col-sm-1">{{ deploy_result.start_time| date:"Y-m-d H:i:s" }}</td>
                                 <td class=col-sm-1">{{ deploy_result.finish_time }}</td>
                                 <td class=col-sm-1">{{ deploy_result.status }}</td>
                                 <td class=col-sm-1">
                                        <li style="list-style-type:none;" ><a href="{% url 'project_web_deploy_edit'%}?id={{project.id}}">查看详细记录</a></li>
                                        <li style="list-style-type:none;" ><a href="{% url 'project_web_deploy_edit'%}?id={{project.id}}">回滚</a></li>
                                 </td>
                                 </tr>
                                {% endfor %}
                         </tbody>
                         </table>
             </div><hr>
</div>

{% endblock %}
{% block js %}

<script>
$(document).ready(function(){
getDate();
});
 function getDate() {
        $.ajax({
            url: "{% url 'project_web_deploy_result'%}",
            type: "get",
            dataType: "json",
            success: function (d) {
                mchart(d);
            },
            error:function (e) {
            }
        });
    }
</script>

{% endblock %}
