{% extends 'base.html' %}


{% block css %}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
{% endblock %}

{% block content-panel %}
<h1 class="page-header">SaltStack自动化部署应用</h1>

<div class="row placeholders">

        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" ><a href="{% url 'salt-api' %}">minion 认证管理</a></li>
          <li role="presentation"><a href="#">管理minion服务</a></li>
          <li role="presentation" ><a href="{% url 'salt_many_cmd'%}">批量执行命令</a></li>
           <li role="presentation" class="active" ><a href="{% url 'salt_deploy' %}">自动化部署应用</a></li>
          <li role="presentation" ><a href="{% url 'salt_web_deploy' %}">网站发布</a></li>
        </ul>
    </div>


<div class="container-fluid">
    <div class="row">
                {% if error %}
                                <div class="alert alert-warning text-center">{{ error }}</div>
                {% endif %}
          <div class="alert alert-info" role="alert" align="center" id="success_info" style="display:none"></div>
                 <div class="col-md-3">
                            <form enctype="multipart/form-data" action="" method="POST">{% csrf_token %}
                                   <label style="color: green">选择主机：</label><span class="badge"> {{ Accepted_Keys|length }}</span></span></h4>
                                   <select id="match" class="form-control" multiple="" name="match" style="background-color: black;color: green">
                                            {% for i in Accepted_Keys %}
                                                <option>{{ i }}</option>
                                            {% empty %}
                                                <option>还没有认证的主机</option>
                                            {% endfor %}
                                    </select>
                                    <hr>
                                  <div class="col-lg-13">
                                        <div class="input-group">
                                          <input  id="ssh_id" type="text" class="form-control" placeholder='salt-ssh：输入执行ID'>
                                          <span class="input-group-btn">
                                          </span>
                                        </div>
                                   </div>

                                   <label style="color: green">自动化部署应用：</label>
                                    <div class="radio">
                                        <label><input type="radio" name="app"  value="aliyum"> 更换阿里源</label><br>
                                        <label><input type="radio" name="app" value="jdk"> jdk<br></label><br>
                                        <label><input type="radio" name="app" value="tomcat1.8"> tomcat1.8<br></label><br>
                                        <label><input type="radio" name="app"  value="nginx"> nginx<br></label><br>
                                        <label><input type="radio" name="app"  value="nginx.conf"> nginx.conf<br></label><br>
                                        <label><input type="radio" name="app"  value="redis"> redis<br></label><br>
                                    </div>
                                <label><input class="btn btn-primary btn-xs" type="button" value="执行部署" onclick="getDate()"></label>
                                 <!--<label><input class="btn btn-primary btn-xs" type="submit" value="执行部署" ></label>-->
                             </form>
                 </div>

                 <div class="col-md-8">
                     <div class="panel panel-default">
                          <div class="panel-heading">
                                <h3 class="panel-title">执行结果</h3>
                          </div>
                          <div class="panel-body">
                                 <div id="result-box">
                                 </div>
                          </div>
                        </div>
                 </div>
    </div>
</div>
{% endblock %}

{% block js %}

<script>
    function relaod(){
        var match= $("#match").val();
        window.location.reload();
    }
    function getDate() {
        var match = $("#match").val();
        var  ssh_id =$("#ssh_id").val();
        var radios=document.getElementsByName("app");
        for(var i=0;i<radios.length;i++)
        {
            if(radios[i].checked==true)
            {
                var select_app = radios[i].value;
            }
        }
        $.ajax({
            url: "{% url 'salt_deploy' %}",
            type: "POST",
            dataType: "json",
            data: {"match": match, "select_app": select_app,"ssh_id":ssh_id},
            success: function (d) {
                        console.log(d)
                        RefreshGetTaskResult(d);
            }
        });
    }


       function RefreshGetTaskResult(jid) {
            var timesRun = 0;
            var interval = setInterval(function(){
            GetTaskResult(jid);
            timesRun += 1;
            if(timesRun === 500){
            clearInterval(interval);}
            }, 2000)
            }


    function GetTaskResult(jid) {
         var jids = new Array();
        for (i in jid){
            jids.push(jid[i]['jid']);
        }

        $.getJSON("{% url 'salt_cmd_result' %}", {jids:jids}, function (callback) {
//                            console.log(callback);
            PrintOnPage(callback)
        })
    }

    function PrintOnPage(callback) {
        $("#result-box").html(" ");
         $.each(callback,function(index,item){
            console.log(item);
            console.log(item.return);
            var row_html = "<p>" + item.id + " ---->" + item.fun_args[0] + " ----->" + "success:" +item.success + "</p>"+"" +
                    "<span>" +JSON.stringify(item.return)+"</span>"
             $("#result-box").append(row_html);
                  $.each(item.return,function(index,item){
                      row_html1="<pre>" +"comment"+JSON.stringify(item)+""+'<br>'+'result:"'+item.result+"</pre>"
                      $("#result-box").append(row_html1);
                  });
         });
    }

</script>

{% endblock %}
