{% extends 'base.html' %}


{% block css %}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
{% endblock %}

{% block content-panel %}
<h1 class="page-header">SaltStack</h1>

<div class="row placeholders">

        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#">minion 认证管理</a></li>
          <li role="presentation"><a href="#">管理minion服务</a></li>
          <li role="presentation"><a href="{% url 'salt_many_cmd'%}">批量执行命令</a></li>
           <li role="presentation"><a href="#">自动化部署应用</a></li>
        </ul>
    </div>


<div class="container-fluid">
    <div class="row">
          <div class="alert alert-info" role="alert" align="center" id="success_info" style="display:none"></div>
                 <div class="col-md-3">
                   <h3>认证管理</h3>
                    <hr>

                       <div class="form-group">
                             <label style="color: green">已经认证：</label><span class="badge"> {{ Accepted_Keys|length }}</span></span></h4>
                                   <select id="Accepted_Key" class="form-control" multiple="" name="match" style="background-color: black;color: green">
                                            {% for i in Accepted_Keys %}
                                                <option>{{ i }}</option>
                                            {% empty %}
                                                <option>还没有认证的主机</option>
                                            {% endfor %}
                                    </select>
                                    <button class="btn btn-primary btn-xs" type="submit" id="Accepted_Key_Submit">删除</button>

                       </div>


                        <div class="form-group">
                            <label style="color: red">等待认证：</label><span class="badge">{{ Unaccepted_Keys|length }}</span></span></h4>
                            <select   id="Unaccepted_Key" class="form-control" multiple="" name="match" style="background-color: black;color: red">
                            {% for i in Unaccepted_Keys %}
                                <option name="Unaccepted_Key"> {{ i }} </option>
                            {% empty %}
                                <option>全部已认证</option>
                            {% endfor %}
                            </select>
                        <button id="Unaccepted_Key_Submit" class="btn btn-primary btn-xs" type="submit">接受</button>
                        </div>


          </div>
                 <!--<div class="col-md-1"></div>-->
                 <div class="col-md-4">
                       <h3>认证测试</h3>
                       <hr>
                       <div class="col-md-6">
                                 <div class="form-group">
                                     <label style="color: green">选择主机：</label><span class="badge"> {{ Accepted_Keys|length }}</span></span></h4>
                                           <select id="Select_Host" class="form-control" multiple="" name="match" style="background-color: black;color: green">
                                                    {% for i in Accepted_Keys %}
                                                        <option>{{ i }}</option>
                                                    {% empty %}
                                                        <option>null</option>
                                                    {% endfor %}
                                            </select>
                                            <button id="Select_Host_Submit" class="btn btn-primary btn-xs" type="submit" >测试主机</button>
                                 </div>
                        </div>
                        <div class="col-md-13">
                                  <div class="form-group">

                                           <input type="text" id="test_info" class="form-control" style="background-color: black;color: green">

                                            </input>
                                 </div>
                        </div>

                 </div>
          </div>
          </div>
    </div>
</div>
{% endblock %}

{% block js %}

<script>
$(document).ready(function() {
     $('#Unaccepted_Key_Submit').click(function (){
         var Unaccepted_Key=$('#Unaccepted_Key').val();
        $.ajax({
            url:"{% url 'accepted_key' %}",
            type: "POST",
            dataType: "json",
            data: { Unaccepted_Key: Unaccepted_Key },
            success:function (d) {
                $('#success_info').show();
                $('#success_info').html(d);
                function reload(){
                     window.location.reload();
                    }
//                    延迟3秒执行reload刷新函数
                setTimeout(reload, 3000);
                 },
            error:function (e) {
                $('#error_info').html(e.responseText);
            }
    });
    });

     $('#Accepted_Key_Submit').click(function (){
         var Accepted_Key=$('#Accepted_Key').val();
        $.ajax({
            url:"{% url 'delete_key' %}",
            type: "POST",
            dataType: "json",
            data: { Accepted_Key: Accepted_Key },
            success:function (d) {
                $('#success_info').show();
                $('#success_info').html(d);
                function reload(){
                     window.location.reload();
                    }
//                    延迟3秒执行reload刷新函数
                setTimeout(reload, 3000);
                 },
            error:function (e) {
                $('#error_info').html(e.responseText);
            }
    });
    });

     $('#Select_Host_Submit').click(function (){
         var Select_Host=$('#Select_Host').val();
//         alert(Select_Host);
        $.ajax({
            url:"{% url 'salt_test' %}",
            type: "POST",
            dataType: "json",
            data: { Select_Host: Select_Host },
            success:function (d) {
                $('#test_info').val(d);
             },
            error:function (e) {
                $('#error_info').html(e.responseText);
            }
    });
    });


 });

</script>

{% endblock %}
