{% extends 'base.html' %}


{% block css %}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
{% endblock %}

{% block content-panel %}
<h1 class="page-header">SaltStack</h1>

<div class="row placeholders">

        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" ><a href="{% url 'salt-api' %}">minion 认证管理</a></li>
          <li role="presentation"><a href="#">管理minion服务</a></li>
          <li role="presentation" class="active" ><a href="{% url 'salt_many_cmd'%}">批量执行命令</a></li>
           <li role="presentation"><a href="{% url 'salt_deploy' %}">自动化部署应用</a></li>
        </ul>
    </div>


<div class="container-fluid">
    <div class="row">
          <div class="alert alert-info" role="alert" align="center" id="success_info" style="display:none"></div>
                 <div class="col-md-3">
                   <h3>批量执行命令</h3>
                    <hr>
                            <form enctype="multipart/form-data" action="" method="POST">{% csrf_token %}
                                   <label style="color: green">选择主机：</label><span class="badge"> {{ Accepted_Keys|length }}</span></span></h4>
                                   <select id="match" class="form-control" multiple="" name="match" style="background-color: black;color: green">
                                            {% for i in Accepted_Keys %}
                                                <option>{{ i }}</option>
                                            {% empty %}
                                                <option>还没有认证的主机</option>
                                            {% endfor %}
                                    </select>
                                  <label style="color: green">输入命令：</label>
                                  <textarea id="cmd_args" type="" class="form-control" name="cmd_args"></textarea><br>
                                  <input class="btn btn-primary btn-xs" type="button" value="执行" onclick="getDate()">
                                  <input class="btn btn-primary btn-xs" type="button" value="刷新" onclick="relaod()">
                             </form>
                 </div>

                 <div class="col-md-8">
                     <div class="panel panel-default">
                          <div class="panel-heading">
                                <h3 class="panel-title">执行结果</h3>
                          </div>
                          <div class="panel-body">
                                 <div id="result-box">
                                 </div>
                          </div>
                        </div>
                 </div>
    </div>
</div>
{% endblock %}

{% block js %}

<script>
    function relaod(){
        window.cleanData(GetTaskResultInterval);
    }
    function getDate() {
        var match = $("#match").val();
        var cmd_args = $("#cmd_args").val();
        $.ajax({
            url: "{% url 'salt_many_cmd' %}",
            type: "POST",
            dataType: "json",
            data: {"match": match, "cmd_args": cmd_args},
            success: function (d) {

                        RefreshGetTaskResult(d);
            }
        });
    }

                       function RefreshGetTaskResult(jid) {
                        var timesRun = 0;
                        var interval = setInterval(function(){
                        GetTaskResult(jid);
                        timesRun += 1;
                        if(timesRun === 2){
                        clearInterval(interval);}
                        }, 2000)
                    }

                    function GetTaskResult(jid) {
                         var jids = new Array();
                        for (i in jid){
                            jids.push(jid[i]['jid']);
                        }

                        $.getJSON("{% url 'salt_cmd_result' %}", {jids:jids}, function (callback) {
                            PrintOnPage(callback)
                        })
                    }

                    function PrintOnPage(callback) {
                        $("#result-box").html(" ");
                         $.each(callback,function(index,item){
                            console.log(item.id);
                            var row_html = "<p>" + item.id + " ---->" + item.fun_args[0] + " ----->" + "success:" +item.success + "</p>"
                                + "<pre>" +item.return+"</pre>"+"<hr>"
//                                console.log(item.id);
                            $("#result-box").append(row_html);
                         });
                    }

</script>

{% endblock %}
