{% extends 'base.html' %}
{% block content-panel %}
<h1 class="page-header">SaltStack</h1>

    <div class="row placeholders">

        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#">minion 认证管理</a></li>
          <li role="presentation"><a href="#">管理minion服务</a></li>
          <li role="presentation"><a href="#">批量执行命令</a></li>
           <li role="presentation"><a href="#">自动化部署应用</a></li>
        </ul>
    </div>
<div class="container-fluid">
    <div class="row">
          <div class="col-md-3">
               <h3>认证管理</h3>
          <h3>认证管理dddddddddddddddddddddddddddssssssssssssssssssssssssssssssssssssssssssssddddddddddddddddddddd</h3>

          </div>
          <div class="col-md-3">
               <h3>认证管理</h3>
          <h3>认证管理dddddddddddddddddddddddddddssssssssssssssssssssssssssssssssssssssssssssddddddddddddddddddddd</h3>

          </div>
    </div>
</div>
{% endblock %}