<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <title>FrozenUI Demo</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static "css/frozen.css" %}">
        <link rel="stylesheet" href="{% static "js/frozen.js" %}">
    </head>
    <body ontouchstart="">

<div class="ui-form ui-border-t">
    <form action="#">
        <div class="ui-form-item ui-border-b">
            <label>
                宝宝姓名
            </label>
            <input type="text" placeholder="宝宝姓名">
            <a href="#" class="ui-icon-close">
            </a>
        </div>
        <div class="ui-form ui-border-t">
            </div>
        <div class="ui-form-item ui-border-b">
            <label>出生日期</label>
            <div class="ui-select-group">
                <div class="ui-select">
                    <select>
                        <option>2014</option>
                        <option selected>2015</option>
                        <option>2016</option>
                    </select>
                </div>
                <div class="ui-select">
                    <select>
                        <option>03</option>
                        <option selected>04</option>
                        <option>05</option>
                    </select>
                </div>
                <div class="ui-select">
                    <select>
                        <option>21</option>
                        <option selected>22</option>
                        <option>23</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="ui-form-item ui-form-item-textarea ui-border-b">
            <label>
                防伪码
            </label>
            <textarea placeholder="产品防伪码"></textarea>
        </div>
        <div class="ui-form-item ui-form-item-l ui-border-b">
            <label class="ui-border-r">
                中国 +86
            </label>
            <input type="text" placeholder="请输入手机号码">
            <a href="#" class="ui-icon-close">
            </a>
        </div>
    </form>

</div>




    <div class="ui-btn-wrap">
        <button class="ui-btn-lg">
            确定
        </button>
    </div>
    </body>
</html>